.landing {
  height: 80vh;
  padding: 0 50px 0 50px;
}

.logo {
  padding: 1rem 0 0 0;
  width: 7rem;
  height: 7rem;
  vertical-align: middle
}
.quickstart-sign-in{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
